@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 40%;
    padding-top: 40%;
    width: 100%;
    height: 100vh;
    background-color: var(--stone-100);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

main {
    background-color: var(--white);
    width: 650px;
    padding: 1.75rem;
    border-radius: 10px;
    height: 1500px;
}

img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    color: var(--stone-900);
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
    margin: 1rem 0;
    font-size: 30px;
}

/*1 p formatting*/
.para {
    color: var(--stone-600);
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    padding-bottom: 40px;
}

/*2 p formatting */
.prep {
   padding-left: 20px;
   color: var(--rose-800);
   font-family: 'Outfit', sans-serif;
   font-weight: 600;
   font-size: 18px;
   margin: 0.7rem 0;
}

/*ul formatting */
.prepp {
    padding-left: 40px;
    margin: 1rem 0;
    color: var(--stone-600);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7rem;
    padding-bottom: 25px;
}

/*li point formatting */
li::marker {
    color: var(--brown-800);
    font-size: 12px;
}


span {
    color: var(--stone-600);
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    padding-left: 15px;
}

h2 {
    color: var(--brown-800);
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
}

.ingredients {
    padding-bottom: 10px;
}

/*second ul formatting */
.ingredient {
    padding-left: 20px;
    color: var(--stone-600);
    font-family: 'Outfit', sans-serif;
    line-height: 1.8rem;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--stone-150);
}

/*ul li formatting */
ul.ingredient li {
    padding-left: 15px;
}

.ins {
    padding-top: 20px ;
}

ol {
    font-size: 16px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Outfit', sans-serif;
    color: var(--stone-600);
    font-weight: 400;
    padding-bottom: 20px;
}

ol li {
    margin: 1rem 0;
}

.nutri {
   color: var(--stone-600);
   font-family: 'Outfit', sans-serif;
   padding-top: 10px;
   padding-bottom: 20px;
}

table {
    border-spacing: 0;
    padding-left: 20px;
    font-family: 'Outfit', sans-serif;
}

td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

/*formatting of items on the right of the table */
.dr {
    color: var(--brown-800);
    vertical-align: top;
    font-weight: bold;
    text-align: left;
    padding-left: 240px;
}

/*formatting of items on the left of the table */
.es {
    color: var(--stone-600);
}

/*Responsive for screens smaller than 375px (mobile)*/
@media screen and (max-width: 374px) {
    body {
        padding-top: 300%;
    }

    main {
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    h1 {
        font-size: 24px;
    }

    .para, .prepp, .prep, .ingredient, ol {
        font-size: 14px;
    }

    .prepp {
        padding-left: 10px;
    }

    .ingredient {
        padding-left: 10px;
    }

    .dr {
        padding-left: 20px;
    }

    table {
        padding-left: 10px;
    }
}

/*Responsive for screens between 375px and 1439px*/
@media screen and (min-width: 375px) and (max-width: 1439px) {
    body {
        padding-top: 30%;
        padding-bottom: 30%;
    }

    main {
        width: 50%;
        height: auto;
        padding: 1.5rem;
    }

    h1 {
        font-size: 26px;
    }

    .para, .prepp, .prep, .ingredient, ol {
        font-size: 15px;
    }

    .prepp {
        padding-left: 15px;
    }

    .ingredient {
        padding-left: 15px;
    }

    .dr {
        padding-left: 30px;
    }

    table {
        padding-left: 15px;
    }
}

/* Responsivo para telas maiores que 1440px (desktop) */
@media screen and (min-width: 1440px) {
    body {
        padding-top: 40%;
        padding-bottom: 40%;
    }

    main {
        width: 650px;
        height: 1500px;
        padding: 1.75rem;
    }

    h1 {
        font-size: 30px;
    }

    .para, .prepp, .prep, .ingredient, ol {
        font-size: 16px;
    }

    .prepp {
        padding-left: 40px;
    }

    .ingredient {
        padding-left: 20px;
    }

    .dr {
        padding-left: 240px;
    }

    table {
        padding-left: 20px;
    }
}
